{% extends './base_backsys.html' %}


{% block title_s %}
<link rel="apple-touch-icon-precomposed" href="/static/backsys/images/icon/icon.png">
<link rel="shortcut icon" href="/static/backsys/images/icon/favicon.ico">
{% endblock %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/backsys/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/backsys/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/backsys/css/login.css">
{% endblock %}


{% block js %}
<script src="/static/backsys/js/jquery-2.1.4.min.js"></script>
<!--[if gte IE 9]>
  <script src="/static/backsys/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/static/backsys/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="/static/backsys/js/respond.min.js" type="text/javascript"></script>
  <script src="/static/backsys/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
<script src="/static/backsys/js/bootstrap.min.js"></script>
<script>
$('[data-toggle="tooltip"]').tooltip();
window.oncontextmenu = function(){
	//return false;
};
$('.siteIcon img').click(function(){
	window.location.reload();
});
$('#signinSubmit').click(function(){
	if($('#userName').val() === ''){
		$(this).text('用户名不能为空');
	}else if($('#userPwd').val() === ''){
		$(this).text('密码不能为空');
	}else{
		$(this).text('请稍后...');
	}
});
</script>
{% endblock %}


{% block content %}
<body class="user-select">
<div class="container">
  <div class="siteIcon"><img src="/static/backsys/images/icon/icon.png" alt="" data-toggle="tooltip" data-placement="top" title="欢迎使用Deng博客管理系统" draggable="false" /></div>

  <form action="" method="post" autocomplete="off" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">管理员登录</h2>
    <label for="userName" class="sr-only">用户名</label>
    <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名" required autofocus autocomplete="off" maxlength="10">
    <label for="userPwd" class="sr-only">密码</label>
    <input type="password" id="userPwd" name="password" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
    <p><input class="btn btn-lg btn-primary btn-block" type="submit" id="signinSubmit" value="登录"></p>
      {{ error }}
  </form>

</div>

</body>
{% endblock %}
